@font-face {
  font-family: 'SuisseIntl';
  src:  url('../fonts/SuisseIntl-Regular.woff') format('woff')
}

@import 'colors';
// @import 'animations';

$font_family: 'SuisseIntl', 'Roboto', 'Arial', sans-serif;

html {
	box-sizing: border-box;
	font-size: 16px;
	background-color: $bg01;
	overflow: hidden; 
}

* {
	box-sizing: inherit;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&:before {
		box-sizing: inherit;
		box-sizing: border-box;
	}
	&:after {
		box-sizing: inherit;
		box-sizing: border-box;
	}
}

body {
	margin: 0;
	text-align: center;
	font-family: $font_family;
}

.revealer {
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 1000;
	pointer-events: none;

	.revealer__layer {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 100%;
		background: #ddd;
		box-shadow: 12px 0 24px -8px rgba($bg06, .8);
		
		
		
	}
		&animate {
			animation: reveal-effect-1 1.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
		
		&:nth-child(2) {
			animation-name: reveal-effect-2;
			background-color: red;
		}
	}
	
	
	
	.revealer--animate .revealer__layer:nth-child(3) {
		animation-name: reveal-effect-3;
	}
}


.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 5;
	top: 0;
	right: 0;
	background-color: $bg06;
	overflow-x: hidden;
	padding-top: 100px;
	transition: 0.2s;
	box-shadow: -12px 0 24px -8px rgba($bg06, .8);

	.nav-close-btn {
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 50px;
		margin-right: 32px;
	}

	.is-active {
		color: #fff !important;
	}
	
	a {
		padding: 8px 8px 8px 64px;
    text-decoration: none;
    font-size: 32px;
		color: $fnt01;
		text-align: left;
    display: block;
		transition: 0.1s;

		
		&:hover {
			opacity: .6;
		}
		
		&:active {
			transform: scale(.99);
		}
	}
}

.display__time-left {
	will-change: transform;
  font-variant-numeric: tabular-nums;
	font-weight: bold;
	font-size: 15rem;
	padding-bottom: 80px;
	margin: 0;
  color: $fnt01;
  opacity: .5;
	transition: transform .3s ease-out, opacity .6s ease-out;
	
	// &:hover {
	// 	transform: scale(1.02);
	// }
}

.semicolon {
  position: relative;
  bottom: 21px;
}

.countdown-bar {
  z-index: -1;
	will-change: width;
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: rgba($bg06, .4);
	pointer-events: none;
	transition: width .1s linear;
}

.timer {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	.menu-btn{
		position: absolute;
		cursor: pointer;
		top: 32px;
		right: 32px;
		background: none;
		border: none;
		padding: 0;
		color: $fnt01;
		opacity: 1;
		transition: opacity .1s ease-out;

		svg	{
			// margin-right: 8px;
			// position: relative;
			// top: 5px;
			fill: $fnt01;
		}

		&:hover {
			opacity: .6;
		}

		&:active {
			transform: scale(.95);
		}
	}
}

.timer__presets {
	display: flex;
	padding-top: 32px;
	padding-left: 48px;
	padding-right: 140px;
  
  > * {
		flex: 1;
		opacity: 1;
		transition: transform .1s ease-out, opacity .1s ease-out;
	}
  
  form {
		flex: 1;
		display: flex;
	}
  
  input {
		flex: 1;
		border: 0;
		padding: 16px;
		font-size: 16px;
		background-color: rgba($fnt01, .1);
		border-radius: 4px;
		color: $fnt01;
	
		&:hover {
			background-color: rgba($fnt01, .3);
		}
		
		&:focus {
			outline: rgba($fnt01, .4) solid 2px;
			outline-offset: 2px;
		}
		
		&::placeholder {
			color: rgba($fnt01, .6);
		}
    
    &[type=number]::-webkit-inner-spin-button,
    [type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0;
    }
	}
}

.timer__button {
	cursor: pointer;
	margin-right: 2rem;
	background: none;
	border: 2px solid transparent;
	color: $fnt01;
	font-size: 16px;
	border-radius: 4px;
	opacity: 1;
	transition: transform .1s ease-out, opacity .1s ease-out;
  
  &:hover {
		border: 2px solid $fnt01;
  }
  
	&:focus {
		border: 2px solid $fnt01;
		outline: rgba($fnt01, .4) solid 2px;
		outline-offset: 2px;
	}
}

.timer__controls {
	width: 100%;
	position: absolute;
	bottom: 16px;
	display: flex;
	justify-content: space-around;
  // padding-bottom: 4rem;
  opacity: 0;
  transition: transform .1s ease-out, opacity .1s ease-out;
	// transform: translateY(30px);
}

.controls__button {
	cursor: pointer;
	// position: relative;
	min-width: 220px;
	background: none;
	border: 2px solid transparent;
	font-size: 32px;
	border-radius: 4px;
	padding: 16px 32px 16px 16px;
	// opacity: 1;
	// transform: translateY(30px);
	
	&:focus {
		outline: rgba($fnt01, .4) solid 2px;
		outline-offset: 2px;
	}

	svg	{
		margin-right: 8px;
		position: relative;
		top: 5px;
		fill: $fnt01;
	}
}

.timer__repeat {
	width: 100%;
	position: absolute;
	bottom: 16px;
	opacity: 0;
	transition: transform .1s ease-out, opacity .1s ease-out;
}

.reset {
	will-change: transform;
	color: $fnt01;
	background-color: transparent;
  -webkit-transition: background-color .2s, transform .1s ease-out;
	-moz-transition: background-color .2s, transform .1s ease-out;
	transition: background-color .2s, transform .1s ease-out;
}


.pause {
	will-change: transform;
	color: $fnt01;
	background-color: transparent;
	-webkit-transition: background-color .2s, transform .1s ease-out;
	-moz-transition: background-color .2s, transform .1s ease-out;
	transition: background-color .2s, transform .1s ease-out;
}


.continue {
	will-change: transform;
	color: $fnt01;
	background-color: transparent;
	-webkit-transition: background-color .2s, transform .1s ease-out;
	-moz-transition: background-color .2s, transform .1s ease-out;
	transition: background-color .2s, transform .1s ease-out;
}

.repeat {
	// position: relative;
	// bottom: 100px;
	will-change: transform;
	color: $fnt01;
	background-color: transparent;
	-webkit-transition: background-color .2s, transform .1s ease-out;
	-moz-transition: background-color .2s, transform .1s ease-out;
	transition: background-color .2s, transform .1s ease-out;
}

.controls__button.reset {
  // margin-left: 5rem;

	&:hover {
		background-color: $bg03;
	}
  
	&:active {
		box-shadow: none;
		transform: translateY(1px);
	}
}

.controls__button.repeat {
  // margin-right: 5rem;

	&:hover {
		background-color: $b400;
  }
  
	&:active {
		transform: translateY(1px);
	}
}

.controls__button.pause {
  // margin-right: 5rem;

	&:hover {
		background-color: $b400;
  }
  
	&:active {
		transform: translateY(1px);
	}
}

.controls__button.continue {
  // margin-right: 5rem;

	&:hover {
		background-color: $bg04;
  }
  
	&:active {
		box-shadow: none;
		transform: translateY(1px);
	}
}

.display {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hidden {
  display: none;
}

.fade-on-pause {
  animation: fade-in-out 2s ease-out infinite;
}

@keyframes fade-in-out {
  0% {
    color: $fnt01;
  }
  50% {
    // color: $b300;
    opacity: .2;
  }
  100% {
    color: $fnt01;
  }
}

.fade-out-up {
	opacity: 0;
	transform: translateY(-20px);
}

.fade-in-up {
	opacity: 1;
  transform: translateY(-20px);
}

.scale-up {
  transform: scale(1.15);
  opacity: 1;
}

@keyframes reveal-effect-1 {
	0% {
		transform: translate3d(0, 0, 0);
	}
	25%, 75% {
		transform: translate3d(-100%, 0, 0);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	100% {
		transform: translate3d(-200%, 0, 0);
	}
}

@keyframes reveal-effect-2 {
	0%, 12.5% {
		transform: translate3d(0, 0, 0);
	}
	37.5%, 62.5% {
		transform: translate3d(-100%, 0, 0);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	87.5%, 100% {
		transform: translate3d(-200%, 0, 0);
	}
}

@keyframes reveal-effect-3 {
	0%, 25% {
		transform: translate3d(0, 0, 0);
		animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	}
	75%, 100% {
		transform: translate3d(-200%, 0, 0);
	}
}

